*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
body{
    border: 1px solid black;
    height: 925px;
    width: 75%;
    
}
body::before{
    content: "";
    background-color:  #E1E1E1;
    width: 1141px;
    left: 189px;
    height: 880px;
    z-index: -1;
    position: absolute;
}
.top-header{
    background-color: #E1E1E1;
    border: 1px solid black;
    position: relative;
    padding: 10px;
    margin: 10px;
}
nav{
    background-color: #F6F6F6;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    margin: 10px;
}
.s-1{
    background-color: #E1E1E1;
    border: 1px solid black;
    position: absolute;
    left: 213px;
    top: 150px;
    width: 20%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
}
.s-head{
    background-color: #F6F6F6;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.s-nav{
    background-color: #F6F6F6;
    border: 1px solid black;
    margin: 10px;
    padding: 278px 0px;
}
.sfoot{
    background-color: #F6F6F6;
    margin-top: 16px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.s-2{
    background-color: #E1E1E1;
    border: 1px solid black;
    position: absolute;
    top: 150px;
    width: 51%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    right: 213px;
}
.h-sec{
    background-color: #F6F6F6;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.art1-sec{
    padding: 0 10px;
    margin: 10px;
    border: 1px solid black;
}
.art1-h{
    background-color: #F6F6F6;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}
.art1-p{
    background-color: #F6F6F6;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}
.art1-f{
    background-color: #F6F6F6;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}
.art2-sec{
    padding: 0 10px;
    margin: 10px;
    border: 1px solid black;
}
.art2-h{
    background-color: #F6F6F6;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}
.art2-p{
    background-color: #F6F6F6;
    padding: 110px 227px;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 30px;
}
.art2-as{
    background-color: #F6F6F6;
    padding: 110px 100px;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right:30px;
}
.art2-f{
    background-color: #F6F6F6;
    padding: 10px;
    margin: 260px 8px 16px 8px;
    border: 1px solid black;
    display: block;
}
.art2-ff{
    background-color: #F6F6F6;
    padding: 10px;
    margin: 10px 8px 10px 8px;
    border: 1px solid black;
    display: block;
}
.footer{
    background-color: #E1E1E1;
    border: 1px solid black;
    position: relative;
    padding: 10px;
    margin: 10px;
    top: 738px;
}